* {
    font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: #0355a1;
    margin:auto;
    padding: 5px;
    height: 100px;
}

h1 {
    background-color: aliceblue;
    color:#0355a1;
    display: flex;
    font-size: 300%;
    width: 275px;
    height: 75px;
    padding-left: 50px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: -50px;
}

nav li {
    border-bottom: solid aliceblue 5px;
    padding: 10px;
    color:aliceblue;
    margin: 10px;
}

.banner img {
    width: 100%;
    height: 160px;
    z-index: -1;
    position: relative;
}

.banner h2 {
    margin-top: -70px;
    margin-right: 70px;
    background-color: aliceblue;
    color:#0355a1;
    width: 300px;
    height: 40px;
    float: right;
}

.aboutMe {
    display: flex;
    margin-top: 40px;
    
}

.aboutMe h2 {
    border-right: solid 5px #0355a1;
    text-align: right;
    padding: 10px;
    color:#0355a1;
}

.aboutMe p {
    color:#0355a1;
    padding-left: 20px;
}


.work {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.work h2 {
    border-right: solid 5px #0355a1;
    text-align: right;
    padding: 10px;
    color:#0355a1;
}

.card {
    flex: 1 0 0;
    border: solid 5px #0355a1;
    margin: 15px;
  }


.card header {
    color:aliceblue;
    width: 100px;
    height: 50px;
}


  .card img {
    width: 100%;
  }

/* Media Queries for mobile design */

@media screen and (min-width: 768px) {
   
    }